* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./assets/assets/Fundogg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}   

body * {
   font-family: "Inter", sans-serif;
   color: #6b4e3d;
    
};

#container {
    width: 360px;
    margin: 56px auto 0px;
    border: 1px solid red;

}

#profile {
    text-align: center;
    padding: 24px;
    margin-top: 8px;

}

#profile img {
    width: 112px;
    
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
       
}

ul li a {
    
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.200);
    border: 1px solid rgba(255, 255, 255, 0.500);
    border-radius: 8px;
    width: 450px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: backgroud 0.2s;

}

ul li a:hover {
    background: rgba(255, 255, 255, 0.500);
    border: 1.5px solid white;
}

#sociallinks {
    display: flex;
    padding: 24px 0;
    font-size: 24px;
    justify-content: center;

}

#sociallinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
}

#sociallinks a:hover {
    background: rgba(255, 255, 255, 0.500);
    
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}